h2 {
  font-family: 'Merriweather', serif;
  color: #BE8069;

}

h1 {
  font-family: 'Merriweather', serif;
  color: white;
}

#Work {
  font-family: 'Merriweather', serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#activeWork {
  text-decoration:underline;
}


ul {
  color: white;
  font-weight: 100;
  list-style-type: none;
}

p {
  color: white;
  font-weight: 100;
}

body {
 
  font-family: 'Open Sans', sans-serif;
}

html {
  background-color: #1B2B24 ;
}

li {
  font-family: 'Merriweather', serif;
  color: #BE8069;
}

#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%
}

#navBar h1 {
  font-weight: 500;
}

#navigation {
  display: flex;
  width: 50%;
  padding: 2%;
  align-items: right;
  justify-content: right;
}

#navigation ul {
  cursor: pointer;
  list-style-type: none;
}

.button {
  background-color: transparent;
  color: white;;
  font-weight: 100;
}



.workGrid {
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 500px 500px;
    grid-gap: 10px;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-template-areas: 
    "LeftyLucy CCUS"
    "EscapePlan GenZ"
    ;
}

.LeftyLucy {
    grid-area: LeftyLucy;
    justify-content: center;
    margin: 100px;
    height: 500;
    width: 600;
    background-color:#A54723 ;
  }

  .CCUS {
    grid-area: CCUS;
    justify-content: center;
    margin: 100px;
    height: 500;
    width: 600;
    background-color: #54736D;
  }

  .EscapePlan {
    grid-area: EscapePlan;
    justify-content: center;
    margin: 100px;
    height: 500;
    width: 600;
    background-color: #54736D;
  }

  .GenZ {
    grid-area: GenZ;
    justify-content: center;
    margin: 100px;
    height: 500;
    width: 600;
    background-color: #A54723;
  }

button {
  justify-content: left;
  padding: 10px;
  margin: 10px;
  align-content: bottom;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

  .ContactMe {
    text-align: center;
    width: 300px;
    margin: 50px auto;
  }

  .ContactList {
    text-align: center;
    width: 300px;
    margin: 50px auto;

  }



  @media only screen and (max-width: 600px) {
    .workGrid {
      grid-template-columns: 100%; 
      grid-template-rows: 1fr 1fr 1fr 1fr;
      width: 100%;
      height: 100%;
      grid-template-areas: 
      "LeftyLucy"
      "CCUS"
      "EscapePlan" 
      "GenZ"
      ;
    }
    }
  
